html, body {
    margin: 0;
    height: 100vh;
    width: 100vw; /* Full width of the viewport */
    overflow: hidden; /* Prevent scrollbars */
}

body {
    background-image: url('../assets/images/Web_Photo_Editor.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.initial-container,
.new-container,
.final-container {
    color: white;
    text-align: center;
    height: 100vh; 
    width: 100vw; /* Full width */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out; /* Fade transition */
}

.new-container,
.final-container {
    display: none; /* Initially hidden */
    opacity: 0; /* Initially hidden by opacity */
    transition: opacity 1s ease-in; /* Fade-in transition */
    background-color: black; /* Set background color to black */
}

/* For the new container */
.new-container {
    width: 80vw; /* Width reduced by 10% from each side */
    height: 100vh; /* Full height */
    background-image: url('../assets/images/Screenshot (13).png');
    background-size: contain; /* Ensure the image fits the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat */
}

/* For the final container */
.final-container {
    width: 80vw; /* Width reduced by 10% from each side */
    height: 100vh; /* Height reduced by 5% from top and bottom */
    background-image: url('../assets/images/Screenshot (15).png'); /* Replace with your final image path */
    background-size: contain; /* Ensure the image fits the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat */
}

/* Make text responsive */
.new-container h1, .final-container h1 {
    font-size: 3rem; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add some padding to prevent cutting */
}

/* Class to show the new and final containers */
.show-new-container,
.show-final-container {
    display: flex; /* Display flex for the new and final containers */
    opacity: 1; /* Make visible with fade */
}
